﻿@model CompanyDetails.Models.UserCredential

@{
    <title>LogIn</title> 
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Login Failed");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div class="editor-label">@Html.LabelFor(cond => cond.LoginId)</div>
            <div class="editor-field">
                @Html.TextBoxFor(cond => cond.LoginId)
                @Html.ValidationMessageFor(cond => cond.LoginId)
            </div>
            <div class="editor-label">@Html.LabelFor(cond => cond.Password)</div>
            <div class="editor-field">
                @Html.PasswordFor(cond => cond.Password)
                @Html.ValidationMessageFor(cond => cond.Password)
            </div>
            <input type="submit" value="Login" />
        </fieldset>
    </div>
}  