﻿@model IEnumerable<CompanyDetailsWebApi.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary.SalaryRange)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (item.Department.DepartmentName == "Marketing")
            {
                @Html.ActionLink(item.Department.DepartmentName, "Departments", new { id = item.DepartmentId })
            }
            @if (item.Department.DepartmentName == "Sales")
            {
                @Html.ActionLink(item.Department.DepartmentName, "Departments", new { id = item.DepartmentId })
            }
            @if (item.Department.DepartmentName == "HR")
            {
                @Html.ActionLink(item.Department.DepartmentName, "Departments", new { id = item.DepartmentId })
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary.SalaryRange)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
        </td>
    </tr>
}

</table>
